.logo {
  height: 5rem;
  width: 10rem;
  border-radius: 10px;
}

.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

ul {
  gap: 60px
}

.header {
  background-color: var(--cyan-darker);
}

.blue-light {
  color: #d0f4f7;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-toggler {
  border-color: transparent;
  font-size: 1.7rem;
}

.dropdown-menu {
  background-color: #013a63;
  height: 0;
  display: block;
  border: 0;
  visibility: hidden;

}

.dropdown-menu.show {
  visibility: visible;
  height: 10rem;
  padding-top: 0;
}

.navbar .nav-link.show,
.navbar .nav-link:hover {
  color: #d0f4f7;
  background-color: transparent;
}

.navbar .nav-link:focus {
  color: white;
}

.container__custom {
  background: linear-gradient(transparent, #0173bc), url(/media/sfondo.jpg);
}

.section__1 div {
  min-height: 40rem;
}

.section__1--image img {
  height: 20rem;
}

.section__1--wrapper {
  background-color: #468faf;
  border: #013a63 5px solid;
}

.section__1--main {
  background-color: #d0f4f7;
  border: #013a63 2px solid;
}

/* ------------- SOFIA --------------- */

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Saiyan";
  src: url(./fonts/Saiyan-Sans.ttf);
}

.body-c {
  background: #0173bc;
}

/*FONT GENERLAE*/
body {
  font-family: "Raleway";
}

/*TITOLI*/
h1,
h2,
h3 {
  font-family: "Saiyan";
}

h1 {
  font-size: 6rem
}

h2 {
  font-size: 4rem
}

h3 {
  font-size: 2rem
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track-piece {
  background: #034aa6;
}

*::-webkit-scrollbar-thumb {
  background: #0d65d9;
}

/*intro*/
.intro {
  height: 300px;
  overflow: auto;
}

.shadow {
  box-shadow: 0 0 18px #d0f4f7;
}

.justify {
  text-align: justify;
}

/*CARD*/
h1 {
  color: #d0f4f7;
  font-style: italic;
  letter-spacing: 3px;
  padding: 25px;
}

.card-text1 {
  text-align: justify;
}

.card-body {
  overflow: auto;
  height: 140px;
  box-shadow: 0 0 18px #d0f4f7;
}

.card img {
  filter: grayscale(0);
  transition: all 0.3s;
}

.card img:hover {
  filter: grayscale(100%);
}

/*SFONDI INDEX*/
.first-index {
  background-image: url(./media/first-index.png);
  background-size: cover;
  background-position: top;
}

.nth-index {
  background-image: url(./media/dragonball-game.png);
  background-size: cover;
  background-position: top;
}

.th-index {
  background-image: url(./media/characters.jpg);
  background-size: cover;
  background-position: top;
}

/*BOTTONI*/
button a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border-color: #fff;
}

/*OMBRA*/
.my-shadow {
  box-shadow: 0 0 10px #d0f4f7;
}