.logo {
  height: 5rem;
  width: 10rem;
  border-radius: 10px;
}
.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
}
.header {
  background-color: #013a63;
}
.blue-light {
  color: #d0f4f7;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-toggler {
  border-color: transparent;
  font-size: 1.7rem;
}
.dropdown-menu {
  background-color: #013a63;
  display: block;
  border: 0;
  visibility: hidden; /* Nasconde il menu inizialmente */
  transform: translateY(-10px);
  transition: all 0.2s ease; /* Transizione */
}
.dropdown-menu.show {
  visibility: visible; /* Mostra il menu */
  transform: translateY(0px);
  padding-top: 0;
}
.nav-link:hover {
  color: #d0f4f7;
  background-color: transparent;
}
.navbar .nav-link:focus,
.navbar .nav-link.show {
  color: white;
}
.body__aside__image {
  background-color: #013a63;
}
.body__aside__image img {
  height: 20rem;
  position: relative;
  transform: translateX(100%);
}
.aside__goku {
  height: 30rem;
}
