.logo {
  height: 5rem;
  width: 10rem;
  border-radius: 10px;
}
.logo:hover {
  transform: scale(1.03);
}

.nav-link {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.header {
  background-color: var(--cyan-darker);
}

.blue-light {
  color: #d0f4f7;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-toggler {
  border-color: transparent;
  font-size: 1.7rem;
}

.dropdown-menu {
  background-color: #013a63;
  display: block;
  border: 0;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s;
}

.dropdown-menu.show {
  height: calc(5 * 48px);
  padding-top: 0;
}

/*piccolo fix al dropdown by mad*/
ul.dropdown-menu{
  position:relative;
  top: -50px

}


.navbar .nav-link.show,
.navbar .nav-link:hover {
  color: #d0f4f7;
  background-color: transparent;
}

.navbar .nav-link:focus {
  color: white;
}

.user img {
  height: 2.5rem;
}
@media (max-width: 991px) {
  .button-menu {
    position: absolute;
    right: 1rem;
    top: 1.7rem;
  }
  .logo {
    height: 4rem;
    width: 8rem;
  }
}

.container__custom {
  background: linear-gradient(transparent, #0173bc), url(./media/sfondo.jpg);
}

.section__1 div {
  min-height: 40rem;
}

.section__1--image img {
  height: 20rem;
}

.section__1--wrapper {
  background-color: #468faf;
  border: #013a63 5px solid;
}

.section__1--main {
  background-color: #d0f4f7;
  border: #013a63 2px solid;
}



























/* ------------- SOFIA --------------- */

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Saiyan";
  src: url(./fonts/Saiyan-Sans.ttf);
}

.body-c {
  background: #0173bc;
}

/*FONT GENERLAE*/
body {
  font-family: "Raleway";
}

/*TITOLI*/
h1,
h2,
h3 {
  font-family: "Saiyan";
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track-piece {
  background: #034aa6;
}

*::-webkit-scrollbar-thumb {
  background: #0d65d9;
}

/*intro*/
.intro {
  height: 300px;
  overflow: auto;
}

.shadow {
  box-shadow: 0 0 18px #d0f4f7;
}

.justify {
  text-align: justify;
}

/*CARD*/
h1 {
  color: #d0f4f7;
  font-style: italic;
  letter-spacing: 3px;
  padding: 25px;
}

.card-text1 {
  text-align: justify;
}

.card-body {
  overflow: auto;
  height: 140px;
  box-shadow: 0 0 18px #d0f4f7;
}

.card img {
  filter: grayscale(0);
  transition: all 0.3s;
}

.card img:hover {
  filter: grayscale(100%);
}

/*SFONDI INDEX*/
.first-index {
  background-image: url(./media/first-index.png);
  background-size: cover;
  background-position: top;
}

.nth-index {
  background-image: url(./media/dragonball-game.png);
  background-size: cover;
  background-position: top;
}

.th-index {
  background-image: url(./media/characters.jpg);
  background-size: cover;
  background-position: top;
}

/*BOTTONI*/
button a {
  text-decoration: none;
  color: #fff;
}

.btn {
  border-color: #fff;
}

/*OMBRA*/
.my-shadow {
  box-shadow: 0 0 10px #d0f4f7;
}

.carousel-indicators img {
  width: 30px;

}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  height: 3px;
  padding: 0;
  margin-left: 30px;
  background-color:transparent;
margin-top: -50px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: flex;
}

.carousel-indicators:active{
  padding: 0;
}

/*TIMELINE*/

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;

}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {

  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 200px;
    height: 200px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}