.carousel-item>img{ border-radius: 20px;
}
.bg-primary{
    background-color:#545775!important; 
}
h1{color: #545775;}
body{background-color: #DBCFB0;}
.card{background-color: #BFC8AD;}
.footer{background-color: #718F94 !important;}